@media screen and (max-width: 768px) {
    .welcome h1 {
    font-size: 3em;
    }
    .menu {
        font-size: 0.8em;
    }

    .logobarra {
        width: 25%;
        height: 25%;
    }
    .imagem1 {
        width: 20em;
        padding-bottom: 2em;
    }
    .center {
        width: 20em;
        padding-top: 5em;
    }
    .caca {
        padding: 0;
        width: 23em;
        padding-top: 2em;
        margin: auto auto;
    }
    .assimila {
        width: 23em;
        padding-top: 7em;
        margin: auto auto;
    }
    .tempo {
        padding: 0;
        margin: auto auto;
        height: 20em;
    }
    .criacao {
        width: 20em;
        padding: 0;
        margin: auto auto;
        padding-top: 7em;
    }
    .livre {
        width: 20em;
        padding: 0;
        margin: auto auto;
    }

    .jogar {
        padding-bottom: 2em;
    }

    .vdlx {
        width: 20em;
    }
}

@media screen and (max-width: 1024px) {
    .logobarra {
        width: 15%;
        height: 15%;
    }

    .blocotexto, .blocotexto2, .inicio, .blocotexto2alto, .blocotextoalto, .blocotexto2medio {
        padding:0;
    }

    
}